# Frontend
pos-app/node_modules/
pos-app/dist/
pos-app/dist-ssr/
pos-app/.env
pos-app/*.local

# Backend
POSWebApi/bin/
POSWebApi/obj/
POSWebApi/.vs/
POSWebApi/*.user
POSWebApi/*.suo
API/appsettings.Development.json

# OS
.DS_Store
Thumbs.db
.vs/ 
bin/ 
obj/ 
